:root {
--ash-gray: hsla(107, 7%, 74%, 1); /* bac1b8 */
--light-blue: hsla(188, 36%, 74%, 1); /* a5ced5 */
--opal: hsla(160, 16%, 56%, 1); /* 7da195 */
--gunmetal: hsla(220, 15%, 20%, 1); /* 2b303b */
--cinnabar: hsla(8, 67%, 52%, 1); /* d74833 */
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  font-family: 'Rubik Vinyl', 'electro', sans-serif;
}

#section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
#links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 5em;
  
}

a {
  margin: 15px 15px 10px 15px;;
  color:darkslateblue;
  text-decoration: none;
}

#color {
  height: 100vh;
  width: 100vw;
  font-size: 5em;
  color:antiquewhite;
  text-align: center;
}